modules = ["web", "nodejs-20", "nodejs-19"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 499

[[ports]]
localPort = 4949
externalPort = 80

[[ports]]
localPort = 4979

[[ports]]
localPort = 4989
