@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Carter One", system-ui;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f3efef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
